<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Usernames</title>
    </head>
    <body>
        <form action='logout/' method="GET">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
        <h2>Password manager</h2> 
        <script inline="javascript">


            
            function deleteCookies() {
                document.cookie = "usernames = no usernames";
                location.reload();
            }
  
            var cookieUsernames = document.cookie
            .split('; ')
            .find(row => row.startsWith('usernames'))
             .split('=')[1];

             if (!cookieUsernames) {
                document.cookie = "usernames = no usernames";
            }
            function addUsernameToCookies() {

            var usernameToBeAdded = document.querySelector("#username").value;
            if (!cookieUsernames) {
                document.cookie = "usernames =" + usernameToBeAdded;
            }
            
            if (cookieUsernames.includes("no usernames")) {
                document.cookie = "usernames = "
                document.cookie = "usernames = " + usernameToBeAdded;
                location.reload();
                return;
            }
              //  var passwordCookie = "passwords=cookiePasswords, " + "heihei";
                document.cookie = "usernames = " + cookieUsernames +", " + usernameToBeAdded;
                location.reload();
            }

            function returnCookies() {
            if (!cookieUsernames) {
                document.cookie = "usernames = no usernames";
            }   
             document.getElementById("myText").innerHTML = cookieUsernames;

            }
            window.onload = function () {
                returnCookies();
            };


            
        </script>
        
        <body onload="returnCookies()">

            <h1>Your usernames are:  <span id="myText"></span></h1>
          
        </body>
        
        <button onclick="returnCookies()">show usernames</button>

        <form action ="deleteAll">
        <input type="submit" onclick="deleteCookies();" value="Delete all"/>
        </form>
       <!--    <button onclick="deleteCookies()">delete cookies</button> -->
        <form action ="addUserPassWord">
            <input type="text" name="username" id="username"/>
            <input type="submit" onclick="addUsernameToCookies();" value="Add username"/>
        </form>

        Your current username: {{username}}
        <br> <br> <br> <br> <br>
        <form action ="testIfThereIsUser">
            Username: <input type="text" name="username" id="username"/><br>
            Keep in mind that you have to add username before checking and adding passwords to it
            <br>
            <input type = "submit" value="Check and add usernames passwords"> 
         </form>



    </body>
</html>
