<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Tasks</title>
    </head>
    <body>
        <form action ="/">
            <input type = "submit", value = "back">
         </form>
        Username that is being managed: {{username}}
        <h2>Passwords</h2>
        {% for password in passwords %}
                {{password|safe}}
        {% endfor %}
        
        <form action ="addPassWord">
            <input type = "hidden" name = "username" value = {{username}} />
            Add new password: <input type="text" name="addedPassWord"/><br>
            <input type = "submit">
         </form>

         <form action ="deletePassWord">
            <input type = "hidden" name = "username" value = {{username}} />
            <br>
            <input type = "submit", value = "delete all values">
         </form>
         
    </body>
</html>
